<!-- SE CREA NUEVA VISTA PARA AGREGAR LIBROS -->
<!-- SE AGREGA FORMULARIO CON b-form -->
<%- include ('../layouts/cabecera.ejs') %> <!-- AQUI HICIMOS REFERENCIA A LA CABECERA Y AL PIE CON LOS SIGUIENTES PARAMETROS -->
<form method="post" action="/libros">
    <!-- SE AGREGA UN b-form-group -->
    <div class="form-group">
        <label for="my-input">Nombre:</label> <!--SE AGREGA UN NOMBRE AL LABEL-->
        <input id="my-input" class="form-control" type="text" name="nombre"> <!--EN EL name SE AGREGA nombre-->
    </div>

    <!-- SE AGREGA UN b-form-file -->
    <div class="form-group">
        <label for="my-input">Imagen</label>
        <input id="my-input" class="form-control-file" type="file" name="archivo">
    </div>

    <!-- SE AGREGA UN b-btn-->
    <button class="btn btn-primary" type="submit">Guardar</button>

</form>
<!-- SE AGREGA A LA RUTA ESTE ARCHIVO PARA PODER VISUALIZARLO -->
<%- include ('../layouts/pie.ejs') %>